<div class="container">
  <ul class="list-inline text-center">
    <% ["bodd113", "anilp-ampops"].each do |gh_username| %>
      <li>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "avatar_big" %>
        <h3 class="red-text"><%= gh_username.capitalize %></h3>
      </li>
    <% end %>
</ul>
</div>
